#content-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.student-container {
  border: 3px solid black;
  border-radius: 20px;
  padding: 8px;
}

.student-container * {
  margin: 0;
}

.student-statement {
  margin-top: 15px;
}

.class-container {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}

.student-class {
  border: 1px solid green;
  border-radius: 40px;
  width: max-content;
  padding: 3px;
  max-height: 40px;
}

h2 {
  text-align: center;
}
